html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
}

.form-container {
    min-width: 500px;
    background-color: var(--white);
}

.form-container h5 {
    color: var(--orange);
}

@media (max-width: 500px) {
    .form-container {
        min-width: 465px;
        background-color: var(--white);
    }
}

@media (max-width: 465px) {
    .form-container {
        min-width: 150px;
        padding: 25px !important;
        margin: 10px !important;
    }

    .form-container h5 {
        margin-top: 1em;
    }

    .space {
        display: none;
    }
}